[user]
	name = Dan Kuebrich
	email = dan.kuebrich@gmail.com
[color]
    ui = auto
[branch]
    autosetuprebase = always
[push]
    default = tracking
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential]
	helper = osxkeychain
